.table-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    overflow-x: auto;
}



.mat-row:nth-child(even) {
    background-color: #f9f9f9;
}

.mat-row:nth-child(odd) {
    background-color: #ffffff;
}

.mat-mdc-cell {
    border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
    border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
    border-bottom-style: solid;
    letter-spacing: var(--mat-table-row-item-label-text-tracking);
    line-height: inherit;
    max-width: 100px;
    overflow-x: auto;
}

.mat-mdc-header-row {
    background-color: #f9f9f9;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
    border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
    border-bottom-style: solid;
    letter-spacing: var(--mat-table-row-item-label-text-tracking);
    line-height: inherit;
    max-width: 100px;
    overflow-x: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    padding: 10px;
    text-align: justify;
}

.mat-elevation-z8 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    table-layout: fixed;
    --mat-table-row-item-outline-width: 2px;
    margin: 0 auto;
}

.mat-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mat-paginator .mat-paginator-range-label {
    margin: 0 10px;
}

.mat-paginator .mat-button-base {
    margin: 0 5px;
}

.mat-mdc-paginator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    width: 100%;
    min-height: var(--mat-paginator-container-size);
}

.mat-mdc-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.mat-paginator .mat-button-base {
    margin: 0 5px;
}

.mat-paginator .mat-paginator-range-label {
    margin: 0 10px;
}
.small-gray-button {
    font-size: 12px;
    color: gray;
}

.small-gray-button mat-icon {
    font-size: 18px;
}