<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/workflows-interface']"><i class="fas fa-project-diagram"></i>
                Workflow Control</a>
            <a class="nav-item nav-link" [routerLink]="['/table-interface']"><i class="fas fa-cogs"></i> Processor</a>
            <a class="nav-item nav-link" [routerLink]="['/check-results']"><i class="fas fa-check"></i>
                CheckResults List</a>
           
        </div>
    </div>
</nav>
<router-outlet></router-outlet>